<form action="" class="{{form_class}}">
    {{#each fields}}
    <label for="auth_form_{{name}}" class="form__label form__label-hidden">{{label}}</label>
    <input type="{{type}}" class="form__input" name="{{name}}" id="auth_form_{{name}}" placeholder="{{label}}" required>
    {{/each}}
</form>