<div class="profile_container">
    <div class="profile">
        <div class="profile__avatar">
            <button class="profile__avatar_change">
                <img class="profile__avatar_img" src="{{avatar}}" alt="Аватар" />
            </button>
        </div>
        <div class="profile__fields">
            {{#each fields}}
                <div class="profile__row">
                    <label for="{{label}}" class="profile_form__label">{{name}}</label>
                    <input type="{{type}}" class="profile_form__input" name="{{label}}" id="profile_form_{{label}}" placeholder="{{plchldr}}" required>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="profile__save">
        {{> button name=button class='save__button'}}
    </div>
</div>