{{#each messages}}
<div class="message {{class}}">
    {{#if img}}
    <img class="message__img" src="{{img}}" />
    {{else}}
    <div class="message__text">
        {{text}}
    </div>
    {{/if}}
    <div class="message__time">
        <img class="message__double_check_img" src="{{double_check}}" />
        <span class="{{class}}__time">{{time}}</span>
    </div>
</div>
{{/each}}